---
- name: Cleanup
  hosts: ssh
  gather_facts: yes
  become: yes
  tasks:
    - name: Include vars
      ansible.builtin.include_vars:
        file: vars.yml

    - name: Create AAS
      fabos.aas.aas:
        scheme: http
        host: "{{ aas_server_host }}"
        port: "{{ aas_server_port }}"
        shell_id: "{{ aas.identification.id }}"
        state: "absent"