---
aas_registry_host: "{{ groups['aas_registry'] | map('extract', hostvars, ['ansible_host']) | first }}"
aas_registry_port: 4000
aas_registry_context: registry
aas_registry_base_url: "http://{{ aas_registry_host }}:{{ aas_registry_port }}/{{ aas_registry_context }}"

aas_server_host: "{{ groups['aas_server'] | map('extract', hostvars, ['ansible_host']) | first }}"
aas_server_port: 4001
aas_server_context: aasServer
aas_server_base_url: "http://{{ aas_server_host }}:{{aas_server_port}}/{{ aas_server_context }}"

aas_id: b6281b53-bdfa-429b-9ce0-7b420030d6da

force_create_ass: true